<template name="homepage">
  <!-- <h2>Welcome to the homepage!</h2> -->
  <div class="jumbotron">
    <div class="container">
      <h1>This is Void Boostrap</h1>
      <p>A Meteor Boilerplate Template</p>
        
      <small class="text-muted pull-left">Forked from original <a href="http://github.com/SachaG/Void">Void</a> by Sacha Greif.</small>
      
      <small class='text-muted pull-right'>Image credit: <a href="http://maandersen.deviantart.com/art/Void-Space-150348861">Void Space by Maandersen</a></small>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>Features</h3>
        <ul class="list-unstyled">
          <li><span class="glyphicon glyphicon-ok"></span> Client-side routing</li>
          <li><span class="glyphicon glyphicon-ok"></span> Publications/subscriptions</li>
          <li><span class="glyphicon glyphicon-ok"></span> Basic permissions</li>
          <li><span class="glyphicon glyphicon-ok"></span> Common templates</li>
          <li><span class="glyphicon glyphicon-ok"></span> Bootstrap 3 Theme, Components and JavaScript Plugins</li>
          <li><span class="glyphicon glyphicon-ok"></span> Basic CRUD</li>
          <li><span class="glyphicon glyphicon-ok"></span> <a href="https://github.com/aldeed/meteor-autoform">autoform</a>, <a href="https://github.com/aldeed/meteor-collection2">collection2</a> and <a href="https://github.com/aldeed/meteor-simple-schema">simple-schema</a> combo (from <a href="http://github.com/jfols/Void">jfols</a></li>                    
        </ul>
        <p>... and many more!</p>
      </div>
      
      <div class="col-lg-4">
        <h3>How to use in your project?</h3>
        
        <p>Install Meteor and Meteorite</p>
        
        <pre>
$ curl https://install.meteor.com | /bin/sh
$ npm install -g meteorite
        </pre>
        <p>Clone the repo. Meteorite (mrt) will install all the packages for you</p>
        <pre>
$ git clone https://github.com/SachaG/Void.git myApp
$ cd myApp
$ mrt
        </pre>
        <p>That's it! You are ready to create your Meteor prototype app.</p>
      </div>
      
      <div class="col-lg-4">
        <h3>Contributing</h3>
        
        <p>Share it! Fork it! Do anything you want with and if you want to share just submit a PR and I will look at it asap.</p>
        
        <p class="text-center">
          <iframe src="http://ghbtns.com/github-btn.html?user=mcometa&repo=Void&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
          <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?url=http%3A//void-bootstrap.meteor.com&via=mcometa&hashtags=meteorjs&size=large&text=Void%20Bootstrap%20-%20A%20MeteorJS%20Boilerplate%20with%20Bootstrap%20Flavor" style="width:130px; height:20px; margin-left: 10px"></iframe>
        </p>
      </div>
    </div>
  </div>
</template>